html, body {
    height: 100%;
  }
  
  body {
    height: 200px;
    width: 200px;
    padding: 0px;
    margin: 0px;
  }
  
  h1 {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    line-height: 120%;
    font-family: Arial, sans-serif;
    color: rgb(66,66,66);
    letter-spacing: -0.05em;
  }

  #reqTest{
    width: 150px;
    height: 30px;
  }

  #phone-count{
      text-align: center;
      font-weight: bolder;
  }

  /*#current-index{
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: block;
    border-radius: 50px;
    border: 2px solid rebeccapurple;
    text-align: center;
    font-weight: bolder;
    font-size: 1.4em;
  }*/

  #toolbar{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: auto;
  }

  #content{
    width: 100%;
    height: auto;
    margin-top: 45px;
  }

  #menu{
    width: auto;
    height: 30px;
    background-color: lightgray;
  }

  #menu button{
    float:right;
    width: 30px;
    height: 30px;
  }

  #menu button>i{
    font-size: 1.5em;
  }

  #menu #clear{
    margin-left: 20px;    
  }

  #menu #import, #menu #export{    
    float: left; 
  }

  #menu #import>i{
    font-size: 1.2em;
  }

  #menu #export>i{
    font-size: 1.3em;
  }

  #content #autoStart{    
      width: 100%;
      bottom: 0px;
      position: absolute;
      height: 50px;  
      font-weight: bolder;
  }

  #content #logs{
    width: 100%;
    background: lightgrey;
    height: 120px;
    overflow-y: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
  }

  #content #logs p{
    margin: 0;
    margin-bottom:2px;
  }